.main-page{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.logo-size{
    width: 120px
}

.mainpage-footer-block-wrap{
    padding: 100px 0 80px 0;
    display: flex;
    flex-direction: column;
}

.mainpage-footer-block__text{
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #000;
}

.mainpage-footer-block-contacts_tel {
    padding: 25px 0 0 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #000;
}

.mainpage-footer-logo{
    padding: 25px 0 0 0;
    margin-left: auto;
    margin-right: auto;
}
